@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
    width: 36vh;
    height: 10vh;
    cursor: pointer;
    background-image: url('./assets/logo3.png');
    background-size: cover;
}

.background{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #EBE9E1; 
}

.hero-container h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 7em;
  letter-spacing: 0.1em;
  cursor: default;
  font-weight: thin;
  color: #E43D12;
}

.hero-container h2{
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  cursor: default;
  font-weight: bold;
  color: #E43D12;
}

.profile{
  width: 40px;
  cursor: pointer;
  height: 40px;
  background-image: url('./assets/profile-icon.jpg');
  background-size: cover;
}

ul{
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li{
  display: inline-block;
  margin: 10px 20px;
  padding: 10px;
  color: #f1f1f1d0;
  font-size: 18px;
  cursor: pointer;
}

ul li:hover{
  color: #FFFFFF;
  transition: .2s ease-in-out;
}

.search-box{
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  font-family: 'Fira Sans Extra Condensed';
  color: #050505;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder{
  color: #050505;
}

.search-box img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 40px;
  gap: 30px;
  font-family: 'Fira Sans Extra Condensed';
}
.hero-container{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2%;
  justify-content: center;
  align-items: center;
}

.hero-container h1, .hero-container h2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.2s ease forwards;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.particles-container {
  position: relative;
  width: 100%;
  height: calc(60vh + 40px);
}
.particles-container > #tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section-container{
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  min-height: 50vh;
  width: 100%;
}

.section-title{
  display: flex;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 10vh 0px 0px 0px;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

.section-line {
  border-radius: 35px;
  background-color: rgb(0, 0, 0);
  height: 4px;
  width: 50%;
}

.section-layer{
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.section-layer-cards{
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 20vw;
  border: 2.5px solid black;
  box-shadow: 300px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  padding: 25px;
  min-height: 50vh;
}

.section-layer-cards:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-layer-cards-logo {
  height: 100px;
  width: 100px;
}

.section-layer-cards h2{
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 400;
  font-size: 1.3em;
}

.blog-layer-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBE9E1;
}

.square{
  height: 200px;
  width: 200px;
  background-color: blue;
  border-radius: 15px;
  border: 2px solid rgb(255, 255, 255);
}

.square:hover{
  cursor: pointer;
}

.feat-prod-container{
  width: 100%;
  height: auto;
  min-height: 50vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  padding: 30px;
}

.feat-prod-box{
  height: auto;
  min-height: 40vh;
  border-radius: 5px;
  width: 50vw;
  padding: 40px 40px 40px 15vw;
  display: flex;
  gap: 20px;
  background-color: #F1F1F1;
  border: 30px double #000000; 
  border-radius: 25px;
}

.feat-prod-box-info{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: space-between;
}

.feat-prod-box-info h1{
  font-family: Montserrat;
  font-weight: Bold;
}

.feat-prod-box-info h2{
  font-family: Montserrat;
  font-weight: 500;
  color: #050505;
}

.feat-prod-box-info p{
  font-family: Montserrat;
  font-weight: 500;
  color: #000000c7;
}

.feat-prod-box-info h3{
  color: black;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 1.8em;
}

.feat-prod-box-info-button-area{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.original-price {
  text-decoration: line-through;
  color: #5c5c5c;
  font-size: 1.2em;
  margin-right: 10px;
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #000000;
  color: #fff;
}

.footer-container{
  width: 100%;
  height: auto;
  min-height: 60vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: rgb(192, 92, 92);
}

.footer-info{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  min-height: 18vh;
  width: 80%;
}

.footer-info-i{
  display: flex;
  flex-direction: column;
  color: white;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

.footer-info-i h1{
  font-size: 1.5em;
  font-family: montserrat;
}

.footer-info-i h3{
  font-size: 1em;
  font-family: montserrat;
}

.footer-line{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.267);
  width: 80%;
  height: 5px;
}

.footer-info-2{
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  min-height: 18vh;
  width: 80%;
}

.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
  background-color: black;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}