@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo{
    width: 36vh;
    height: 10vh;
    cursor: pointer;
    background-image: url('./assets/logo3.png');
    background-size: cover;
}

.background-color{
  height: auto;
  width: 100%;
  background-image: linear-gradient(to left top, #000428, #031a40, #062a5a, #073b75, #004e92);
}

.background{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.profile{
  width: 40px;
  cursor: pointer;
  height: 40px;
  background-image: url('./assets/profile-icon.jpg');
  background-size: cover;
}

ul{
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li{
  display: inline-block;
  margin: 10px 20px;
  padding: 10px;
  color: #f1f1f1d0;
  font-size: 18px;
  cursor: pointer;
}

ul li:hover{
  color: #FFFFFF;
  transition: .2s ease-in-out;
}

.search-box{
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input{
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  font-family: 'Fira Sans Extra Condensed';
  color: #050505;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder{
  color: #050505;
}

.search-box img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 40px;
  gap: 30px;
  font-family: 'Fira Sans Extra Condensed';
}

.hero-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.hero-container-title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: libre franklin;
  color: white;
  font-size: 2.5em;
  padding-bottom: 10vh;
  text-align: left;
}



@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.section-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  min-height: 25vh;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden; 
  background-image: url('./assets/texture2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container-text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 15px;
  height: auto;
  width: 50%;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: #000000 10px 10px;
}

.section-container-pillars{
  display: flex;
  justify-content: space-around;
  margin: 0;
  align-items: flex-end;
  height: auto;
  width: 50%;
}

.pillar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative;
}

.pillarimages {
  background-image: url('./assets/defaultavatar.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px; 
  transition: 0.2s ease-in-out;
}

.pillarimages:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.pillars {
  background-color: white;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  box-shadow: 10px 0px  black; 
  border-radius: 12px 12px 0 0;
  width: 100px;
  z-index: 1;
}

.pillars-line{
  height: 3px;
  width: 50%;
  background-color: black;
}


.pillars1 { height: 300px; }
.pillars2 { height: 500px; }
.pillars3 { height: 300px; }

.animated-image {
  position: relative;
  max-width: 40%; 
  height: auto;
  z-index: 1; 
}

.testimonials-container{
  min-height: 25vh;
  width: 20%;
  height: auto;
  background-color: white;  
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: #000000 10px 10px;
}

.quotes{
  font-size: 3em;
  font-weight: bold;
  font-family: libre franklin;
}

.testimonials-description{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
}

.testimonials-info-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.testimonials-names{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: Montserrat;
}

.testimonials-profile{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  object-fit: cover;
  object-position: center center;
}

.feat-prod-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  padding-top: 75px;
}


.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.section {
  flex: 0 0 100%;
  max-width: 100%;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.visible {
  transform: translateX(0);
  opacity: 1;
  position: absolute;
}

.section.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

.feat-prod-box {
  width: 60%;
  height: 60vh;
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow: hidden; 
  background-image: url('./assets/texture2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  border: 30px double #ffffff; 
  border-radius: 15px;
}

.feat-prod-box img {
  max-width: 40%;
  object-fit: fill;
}

.feat-prod-box-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.feat-prod-box-info h1{
  font-family: Montserrat;
  font-weight: Bold;
}

.feat-prod-box-info h2{
  font-family: Montserrat;
  font-weight: 500;
  color: #050505;
}

.feat-prod-box-info p{
  font-family: Montserrat;
  font-weight: 500;
  color: #000000c7;
}

.feat-prod-box-info h3{
  color: black;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 2em;
}

.feat-prod-box-info h1,
.feat-prod-box-info h2,
.feat-prod-box-info p,
.feat-prod-box-info h3 {
  margin: 0;
}

.feat-prod-box-info-button-area{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.original-price {
  text-decoration: line-through;
  color: #5c5c5c;
  font-size: 1.2em;
  margin-right: 10px;
}

.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #000000;
  color: #fff;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  background-image: url('./assets/texture2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.footer-nav a{
  outline: none;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1em;
}


.copyright{
  color: rgb(0, 0, 0);
  font-family: montserrat;
  font-weight: bold;
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}